<div class="Box color-shadow-small" style="margin-top: 20px;">
  <div class="Box-row">
    <h3 class="m-0">关于/反馈BUG</h3>
  </div>
  <div class="Box-row">
    <p>当前版本:<%= @version %></p>
    <p>一定要使用现代浏览器打开(Chrome, Firefox, Edge, Opera, Safari).</p>
    <p>有任何问题请发送邮件:ranjiayu#outlook.com(替换#为@).</p>
    <p>单词发音目前暂时是由浏览器端直接获取, 在网络极差的情况下可能会导致停顿.</p>
    <p>TODO:</p>
    <p>* 收藏字典</p>
    <p>* 听写历史记录</p>
    <p>* 正确率统计</p>
    <p>发音API来自于<a href="http://www.youdao.com" target="_blank">有道词典</a>, 所有词库资源来源于网络, 仅供学习交流技术使用.</p>
  </div>
</div>