<div class="container">

  <h1 style="text-align: center;">英语单词听写工具</h1>

  <!-- 听写设置  -->
  <div class="col-12">
    <div class="Box color-shadow-small">
      <div class="Box-row">
        <h3 class="m-0">听写设置</h3>
      </div>

      <div class="Box-row">
        <div class="form-group">
          <div class="form-group-header">
            <label for="words">单词列表</label>
          </div>
          <div class="mb-2">使用回车分割, 一行一个单词</div>
          <div class="form-group-body">
            <textarea class="form-control" id="words"></textarea>
          </div>

          <div class="form-group-header" style="margin-top: 10px;">
            <label for="english-type">发音</label>
          </div>
          <div class="form-group-body" style="margin-top: 10px;">
            <input type="radio" name="english-type" value="1" checked> 🇬🇧英音
            <span style="margin-right:10px;"></span>
            <input type="radio" name="english-type" value="0"> 🇺🇸美音
          </div>

          <div class="form-group-header" style="margin-top: 10px;">
            <label for="english-type">打乱顺序播放</label>
          </div>
          <div class="form-group-body" style="margin-top: 10px;">
            <input type="radio" name="disorder" value="0" checked> 顺序
            <input type="radio" name="disorder" value="1"> 乱序
          </div>

          <div class="form-group-header" style="margin-top: 10px;">
            <label for="english-type">单词播放间隔(s)</label>
          </div>
          <div class="form-group-body">
            <input class="form-control" type="number" id="interval" value="3"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 控制台 -->
  <div class="col-12" style="margin-top: 20px;">
    <div class="Box color-shadow-small">
      <div class="Box-row">
        <h3 class="m-0">控制台</h3>
      </div>
      <div class="Box-row">
        <div class="BtnGroup d-block mb-2">
          <button class="BtnGroup-item btn btn-primary" id="start">开始</button>
          <button class="BtnGroup-item btn" id="pause" aria-disabled="true">暂停</button>
          <button class="BtnGroup-item btn btn-danger" id="stop" aria-disabled="true">停止</button>
        </div>
        <div style="margin-bottom: 10px;">
          <span class="Progress Progress--large">
            <span
              id="progress"
              class="Progress-item color-bg-success-emphasis"
              style="width: 0%;">
            </span>
          </span>
        </div>


        <p>当前播放单词
          <button class="eye-container btn">
            <svg id="eye-btn" t="1637047955786" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2663" width="16" height="16"><path d="M511.978667 149.312c85.717333 0 164.202667 32.384 224.810666 86.058667l7.616 6.848c43.413333 39.552 111.936 110.229333 205.525334 212.053333a85.333333 85.333333 0 0 1 3.136 111.893333l-3.093334 3.562667-33.770666 36.586667c-82.133333 88.533333-142.229333 149.546667-180.352 183.061333-60.48 53.205333-138.581333 85.269333-223.872 85.269333-85.802667 0-164.352-32.448-224.981334-86.229333l-7.594666-6.826667c-43.370667-39.552-111.808-110.165333-205.333334-211.84a85.333333 85.333333 0 0 1-3.093333-111.978666l3.114667-3.562667 41.706666-45.098667c77.610667-83.328 134.677333-141.162667 171.157334-173.546666C347.584 181.76 426.154667 149.312 512 149.312z m0 64c-67.712 0-131.712 25.024-182.549334 70.122667l-7.253333 6.528c-37.674667 34.389333-96.725333 94.933333-176.384 180.906666l-24.597333 26.666667a21.333333 21.333333 0 0 0 0 28.885333L153.6 561.493333c80.938667 87.168 139.818667 147.072 175.850667 179.029334 50.837333 45.077333 114.794667 70.101333 182.506666 70.101333 67.285333 0 130.901333-24.725333 181.610667-69.333333l7.296-6.506667c37.952-34.389333 97.28-95.146667 177.237333-181.546667l24.704-26.816a21.333333 21.333333 0 0 0 0-28.864l-40.234666-43.498666c-77.013333-82.730667-133.333333-139.882667-168.256-170.794667-50.816-45.013333-114.730667-69.973333-182.357334-69.973333zM512 320a192 192 0 1 1 0 384 192 192 0 0 1 0-384z m0 64a128 128 0 1 0 0 256 128 128 0 0 0 0-256z m0 42.666667a85.333333 85.333333 0 1 1-85.226667 89.6L426.666667 512h64a21.333333 21.333333 0 0 0 21.184-18.837333L512 490.666667v-64z" fill="#333333" p-id="2664"></path></svg>
            <svg id="close-eye-btn" style="display: none;" t="1637048012885" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2915" width="16" height="16"><path d="M942.3 486.4l-0.1-0.1-0.1-0.1c-36.4-76.7-80-138.7-130.7-186L760.7 351c43.7 40.2 81.5 93.7 114.1 160.9C791.5 684.2 673.4 766 512 766c-51.3 0-98.3-8.3-141.2-25.1l-54.7 54.7C374.6 823.8 439.8 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0.1-51.3zM878.3 154.2l-42.4-42.4c-3.1-3.1-8.2-3.1-11.3 0L707.8 228.5C649.4 200.2 584.2 186 512 186c-192.2 0-335.4 100.5-430.2 300.3v0.1c-7.7 16.2-7.7 35.2 0 51.5 36.4 76.7 80 138.7 130.7 186.1L111.8 824.5c-3.1 3.1-3.1 8.2 0 11.3l42.4 42.4c3.1 3.1 8.2 3.1 11.3 0l712.8-712.8c3.1-3 3.1-8.1 0-11.2zM398.9 537.4c-1.9-8.2-2.9-16.7-2.9-25.4 0-61.9 50.1-112 112-112 8.7 0 17.3 1 25.4 2.9L398.9 537.4z m184.5-184.5C560.5 342.1 535 336 508 336c-97.2 0-176 78.8-176 176 0 27 6.1 52.5 16.9 75.4L263.3 673c-43.7-40.2-81.5-93.7-114.1-160.9C232.6 339.8 350.7 258 512 258c51.3 0 98.3 8.3 141.2 25.1l-69.8 69.8z" p-id="2916"></path><path d="M508 624c-6.4 0-12.7-0.5-18.8-1.6l-51.1 51.1c21.4 9.3 45.1 14.4 69.9 14.4 97.2 0 176-78.8 176-176 0-24.8-5.1-48.5-14.4-69.9l-51.1 51.1c1 6.1 1.6 12.4 1.6 18.8C620 573.9 569.9 624 508 624z" p-id="2917"></path></svg>
          </button>
        </p>

        <p id="current-word">无</p>

      </div>

    </div>
  </div>


  <!-- 听写板 -->
  <div class="col-12" style="margin-top: 20px;">
    <div class="Box color-shadow-small">
      <div class="Box-row">
        <h3 class="m-0">听写板</h3>
      </div>
      <div class="Box-row">
        <div class="form-group">
        <textarea class="form-control" placeholder="可以直接在这里写下结果, 一行一个, 按照播放顺序对比结果" id="user-result"></textarea>
        <button class="btn" id="diffBtn" style="margin-top: 10px;">对比结果</button>
        <pre id="display"></pre>
        </div>
      </div>
      
    </div>
  </div>

  <div class="footer">
    <span>Version: <%= @version %></span>
    <%= link_to "反馈BUG/关于", home_about_path %>
  </div>

</div>

<div id="audio-container" style="display: none;">
</div>